@font-face {
  font-family: "FinkHeavy";
  src: url("../fonts/FinkHeavy.ttf");
}

@font-face {
  font-family: "Bokutoh";
  src: url("../fonts/FOT-RodinBokutoh\ Pro\ M.otf");
}

p {
  font-family: Bokutoh;
  line-height: 1.7;
}

h3 {
  font-family: FinkHeavy;
  font-size: 35px;
  line-height: 1.4;
  color: #e0ffea;
}

footer {
  margin: 0 auto;
  color: #e0ffea;
  font-size: 14px;
}

body {
  margin: 0;
  background-image: url("../images/backgroundImg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

nav {
  width: 100%;
  height: 20%;
  height: 103px;
  display: flex;
  justify-content: center;
  font-family: FinkHeavy;
  color: #e0ffea;
  align-items: center;
  padding-top: 40px;
}

#nav-button-container {
  width: 140px;
}

#nav-button {
  width: 100%;
  position: relative;
}

#nav-button p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-family: FinkHeavy;
  line-height: normal;
}

#nav-button img {
  width: 100%;
}

#nav-logo-container {
  width: 200px;
  margin: 0 10px;
}

#nav-logo-container img {
  width: 100%;
}

header {
  height: 100vh;
  width: 75%;
  /* background-color: blue; */
  margin: auto;
}

#homepage-headerIMG-container {
  width: 100%;
  height: 80%;
  background-color: blueviolet;
  background-image: url("../images/homepageHeaderImg.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 75px;
  margin-top: -50px;
}

.homepage-info-container {
  height: 100vh;
  width: 75%;
  margin: auto;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.homepage-info-container figure {
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-info-container figure img {
  width: 90%;
}

.homepage-buttons {
  color: #e0ffea;
  background-color: #008a61;
  border-radius: 20px;
  border-style: none;
  padding: 17px 70px;
  font-family: FinkHeavy;
  font-size: 17px;
  margin-top: 35px;
}

.text-container {
  width: 50%;
}

.text-container div {
  padding: 0 50px 0 100px;
  color: #e0ffea;
}

.text-container div h3 {
  margin-bottom: 50px;
}

.homepage-info-sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-flex {
  align-items: flex-end;
}
